<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name=".ui.inventory.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.viewlog.ViewLogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addlog.AddLogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.project.projectmanage.ProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inventory.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sds.SdsLookupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.equipment.PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.equipment.EquipmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.experimentInfo.ExperimentInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.experimentdetail.ExperimentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.loginmaindashboard.maindashboard.MainDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.loginmaindashboard.login.SystemLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.equipment.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.equipment.EquipmentListActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.inventory.ItemAddUpdateActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ui.user.AddUserActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.protocol.ProtocolListActivity"
            android:exported="false"
            android:label="Protocol List" />
        <activity
            android:name=".ui.protocol.ProtocolDetailActivity"
            android:exported="false"
            android:label="Protocol Detail"
            android:parentActivityName=".ui.protocol.ProtocolListActivity" />
        <activity
            android:name=".ui.protocol.CreateProtocolActivity"
            android:exported="false"
            android:label="Create New Protocol"
            android:parentActivityName=".ui.protocol.ProtocolListActivity" />

        <activity
            android:name=".ui.createexperiment.CreateNewExperimentActivity"
            android:label="Tạo Thí Nghiệm Mới"
            android:exported="false" />

        <activity
            android:name=".ui.user.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.MemberListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.ProfileSettingActivity"
            android:exported="false" />

        <activity android:name=".ui.user.MemberDetailActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.project.projectdetail.ProjectDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.project.projectmanage.ProjectActivity" >
        </activity>
    </application>

</manifest>